[user]
    name = moose
    email = mhismail3@gmail.com

[core]
    editor = nano
    excludesfile = ~/.gitignore_global
    autocrlf = input
    preloadindex = true
    fscache = true

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current

[fetch]
    prune = true

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3

[color]
    ui = auto

[credential]
    helper = osxkeychain

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[rerere]
    enabled = true

[column]
    ui = auto

[branch]
    sort = -committerdate
